<h2>Computer Programming II (honors)</h2>

<p>
  Coming out of high school I had a considerable amount of programming
  experience so I considered trying to skip this class. However, I noticed it
  covered additional topics which I did not at the time feel entirely
  comfortable with. So I took the class with the honors section and found it
  to be interesting at times and boring at other times.
</p>

<h3>Evil Hangman</h3>

<p>
  CSE 143 gives weekly programming assignments. Evil Hangman was the
  assignment from Week 4.
</p>

<p>
  In normal Hangman, the first player picks a word that the second player has
  to guess. But what if the first player didn't pick a word at the beginning
  and tried to delay the choice for as long as possible? That's what we have
  here.
</p>

<p>
  <a href="https://gist.github.com/Anxuiz/18c8862bfa5fdaa9019d" target="_blank">My implementation</a>
</p>

<!--
<p>
  Go ahead and try playing it. Below is a JavaScript translation of the
  original Java code for the class.
</p>

<pre style="height: 300px">{{output}}</pre>
<form class="form-inline" role="form" style="width: 100%">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Enter:</div>
      <input type="text" style="width: 100%" class="form-control" ng-model="input">
    </div>
    <button type="submit" class="btn" ng-click="submit()">Submit</button>
  </div>
</form>
-->
