<h2>Intro to Artificial Intelligence</h2>

<img src="img/particle-filter.png" width="100%" />

<p>
  Artificial Intelligence was a super interesting class and gave me a
  framework to think about computer intelligence as a whole. I was able to
  imagine how this could be connected to the research I had done and my work
  with the UWFM club. The above image is the initialization of an algorithm
  used for a robot finding its location in a map. These kinds of algorithms
  could be used for autonomous driving and other actions requiring some level
  of intelligence to analyze sensor data.
</p>

