<h2>Russian Crime Fiction</h2>

<img class="pull-right" src="//upload.wikimedia.org/wikipedia/en/4/4b/Crimeandpunishmentcover.png" style="width: 33%; margin: 16px" />

<p>
  In this class I learned about Russian history and literature, and that it's
  possible to read 200 pages per week. We read eight books/short stories over
  the quarter. I re-affirmed that I do like reading literature and finally had
  a really compelling reason to finish Crime and Punishment.
</p>

<p>
  Moreover, this class was important to me at the time because the reading
  provided inspiration for philisophical discussions about everyday things. I
  found the continual discussion about whether it is possible for there to be
  a "perfect crime" fascinating and insightful. The reasoning one goes through
  for analyzing this idea is analogous to that which applies for many
  philisophical issues.
</p>

<h3>Midterm Essays</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%211971&authkey=AGKe3G5MbO1TCkE&em=2" width="100%" height="720" frameborder="0" scrolling="no"></iframe>

<h3>Final Essay</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%212015&authkey=APKj7Hpq-fEGSQU&em=2" width="100%" height="720" frameborder="0" scrolling="no"></iframe>
