<h2>Rhetoric of Science</h2>

<p>
  Rhetoric of Science was a fun class that I didn't expect to be so interested
  in. We got to discuss many ways in which rhetoric affects how science is
  communicated to non-scientists, and identify methods to improve communication
  to achieve better understanding.
</p>

<p>
  I also really enjoyed how the class was structured. The entire quarter
  revolved around producing a final paper which would be considered research
  quality. Assignments given before the final paper were to prepare material
  and get us thinking early about how we wanted to analyze the text we had
  chosen. For my final paper, I chose to analyze Yuri Lazebnik's article
  "Can I biologist fix a radio? -- Or, what I learned while studying
  apoptosis".
</p>

<h3>Final Paper</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%212411&authkey=AJHfaXs3AbL9Fi4&em=2" width="100%" height="720" frameborder="0" scrolling="no"></iframe>
