<h2>Leadership, Democracy, and a More Thoughtful Public</h2>

<p>
  Leadership, Democracy and a More Thoughtful Public stretched my ability to
  read, write, and think. I was not prepared for the sheer amount of writing in
  this class: 15 short, 1-2 page (single spaced!) response papers throughout
  the quarter culminating with a 10 page final paper. I had never done that
  much writing for a class before, so it was a shock the first few weeks. But
  I eventually learned how to manage the time commitment and produce good
  reflections.
</p>

<p>
  After taking this class I gained the confidence to realize that page length
  does not really define how difficult a piece of writing will be. Now when I
  see "3-4 pages", I know that I need to spend most of my time researching
  rather than typing at the computer. A long (10-15 page) final paper is also
  no longer a shock.
</p>

<h3>Final Paper</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%211738&authkey=AIdStZYjrbmDV9o&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe>

