<h2>Introduction to Honors Education</h2>

<p>
  Honors 100 was a fun and necessary class for the first quarter at UW. It
  introduced me to many resources I would have never thought to look for on my
  own and gave me some tips for how to survive university life. Additionally,
  I got to meet an excellent group of students who I saw almost once a week.
</p>

<p>
  I also enjoyed some of the assignments as it helped me understand better
  what options are available to me over the next four years. In particular,
  the 4 year plan was very helpful since I am considering a double major. I
  had a good suspicion it would be possible to complete in four years, and the
  four year plan confirmed that it's not just possible but also leaves room
  for other electives even after fulfilling the honors requirements!
</p>

<h3>Assignment 1: Who are you?</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%21594&authkey=AJ2Rm5hhy6wrq14&em=2" width="100%" height="288" frameborder="0" scrolling="no"></iframe>

<h3>Assignment 2: Curriculum Planning</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%21621&authkey=AA463H_6JEhBgfs&em=2" width="100%" height="288" frameborder="0" scrolling="no"></iframe>

<h3>Assignment 3: Experiential Learning Interview</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%21632&authkey=AH_swctWPVv86qE&em=2" width="100%" height="288" frameborder="0" scrolling="no"></iframe>

<h3>Assignment 4: Building your UW Experience</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%21634&authkey=ACXUcgIuwifBRy8&em=2" width="100%" height="288" frameborder="0" scrolling="no"></iframe>

<h3>Assignment 5: Portfolio Statement</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%21646&authkey=ADIaYyzH7UKDTlY&em=2" width="100%" height="288" frameborder="0" scrolling="no"></iframe>
