<h2>Intro to Real Analysis I</h2>

<p>
  MATH 327 was the first math major only course I took as part of the math
  major. The professor summarized our objective by saying that we'll re-learn
  all of calculus, except this time we must prove everything before we use it.
  In this course, we started with the axioms of real arithmetic and ended with
  proving everything through limits. I imagine the second course (MATH 328)
  would move to prove properties of derivatives and integrals.
</p>

<p>
  This class was fascinating for me because it was the first and only class
  I've taken with the math department where the homework was entirely writing
  rigorous proofs. Of course this meant that a homework assignment with 2
  questions would take 7 hours, but the end result was interesting to see how
  mathematicians can reason about theorems and show their correctness.
</p>

<h3>Homework 6</h3>
<iframe src="https://onedrive.live.com/embed?cid=D16AA877E2C244F5&resid=D16AA877E2C244F5%212100&authkey=AFOe0gxZw-E0F6w&em=2" width="100%" height="480" frameborder="0" scrolling="no"></iframe>
