<p>
  Since I've already included a bit of biography about myself on the homepage
  I won't tire the subject here. Instead this page is dedicated to describing
  process of creating this portfolio including technical and composition
  details.
</p>

<h3>
  Technical Details
</h3>

<p>
  The portfolio is a single page application (SPA). That means the entire
  "website" is actually just a single web page that uses JavaScript to change
  the contents and provide interactivity. For HTML/CSS sanity I use the
  <a href="http://getbootstrap.com/" target="_blank">Bootstrap framework</a>
  and for JavaScript sanity I use
  <a href="https://angularjs.org/" target="_blank">AngularJS</a>. Note the use
  of "sanity" -- I don't particularly like web development, but these two
  tools make it bearable.
</p>

<p>
  I try to describe as much of the site using JSON objects and HTML templates
  to reduce boilerplate and put the data into more structured form. For
  example, I have a service that has all my classes in JSON format so the
  <a ui-sref="schedule">schedule</a> page can generate a pretty looking schedule
  on the fly.
</p>

<p>
  For hosting I use
  <a href="https://pages.github.com/" target="_blank">Github Pages</a> because
  it's free and stable. While it does not support dynamic pages, I don't think
  it will become a problem because the portfolio is very simple. Also,
  fortunately it supports custom domains so I can get a very professional
  looking website address. Yay!
</p>

<p>
  To be continued...
</p>
