<h1>Hi. Welcome</h1>

<p>
  I'm Steve, a freshman at University of Washington studying computer science.
  I also am quite interested in mathematics and will be applying to the
  Applied Computational &amp; Mathematical Sciences (ACMS) in the spring.
  Outside of academics, I enjoy badminton (I try to play 2 times a week!), car
  racing (especially Rally and Rallycross), and action movies. In my free time
  I help run the <a href="https://oc.tc" target="_blank">Overcast Network</a>
  Minecraft servers as a developer and systems administrator.
</p>

<h3>Portfolio Statement</h3>

<p>
Coming onto the University of Washington campus in September I was not sure
what to expect. Would college be the most amazing thing that's ever happened
like everyone told me? Or will I get homesick within the first week? Turns out
a little bit of both. College has been great so far and I much prefer it over
high school, but there's definitely been times when I just wanted to head home
for a while. I'm sure as time goes on I'll get more acclimated to the
environment and find the unique aspects of this experience to cherish them.
</p>

<p>
The first week before classes had started I had this idea to meet as many
people as possible and be extremely outgoing. While I don't consider myself a
hermit, I definitely find talking to people I've never met before challenging.
I thought that if I tried really hard to find a group of people then suddenly
magic would happen and I'd be set for the rest of my four years. I went to
lots of events, sometimes not even returning to my dorm room for 12 hours.
However, as any "cure-all" idea goes, magic did not happen, but I am happy
with what resulted. I found a small group of people who are up for doing
things and I can talk to on a regular basis. That's all I needed, really.
</p>

<p>
In this first quarter I have surprised myself numerous times by things I
normally would not have done. I have been actively attending the badminton
club, trying to go at least twice a week so I can improve my play. Often it is
hard to muster the energy to walk down to the IMA through the pouring rain or
frigid cold, but so far I have been attending fairly regularly. Always some
room for improvement though. Also, I have been more adventurous than I
expected, enrolling in the sailing club and taking two sailing lessons. Before
coming to the UW I had never sailed before, so it was a completely new
experience especially being on the water in the freezing cold and rain with
winds gusting.
</p>

<p>
One thing I had totally not expected at UW is how frequently I see people I
know walking around campus. You would think that with nearly 50 thousand
students probably would put the chances of seeing a familiar face near to
zero. However, I continuously see people I've met just walking in random
places on campus which is always a joy. It really makes the large university
feel smaller and more personal.
</p>

<p>
Study abroad is something that I had not really considered before coming to
the UW and Honors 100 has gotten me interested in the possibility. Through the
class I saw how many people do it and how many opportunities there are through
the honors program, my major, and the university as a whole. I have even
attended an information talk about a computer science study abroad. Who knows,
maybe I'll carve out a quarter to explore the possibility.
</p>

<p>
By the end of the first year I want to find some activities I can really sink
my teeth into. Activities that I look forward to going to every week and would
pain me if I missed even just one meeting. Right now I'm still exploring and
taking every chance I can to do something different. Also, by the end of the
year I want to learn more about what possibilities there are for research
within the computer science department. I have already started looking by
attending the computer science research night and talking to grad students and
professors. Looking for these opportunities should become easier as I take
more major classes in the coming quarters and get to know the professors
better.
</p>

<p>
Although it's so far away it's important to think about my long term goals
here. For one, I want to get involved in research and make a meaningful
contribution to the academic body. Finding this opportunity is a task for this
year and the next, and I'm excited to see what's available. I also want to
explore some topics I might not otherwise have thought about, especially
through the honors classes. Many of them look so interesting. Finally, I
really want to have some kind of leadership position here at the UW. Not quite
sure how that'll look right now, but I'll be sure to find out!
</p>
