<h1>Hi. Welcome</h1>

<p>
  I'm Steve, a freshman at University of Washington studying computer science.
  I also am quite interested in mathematics and will be applying to the
  Applied Computational &amp; Mathematical Sciences (ACMS) in the spring.
  Outside of academics, I enjoy badminton (I try to play 2 times a week!), car
  racing (especially Rally and Rallycross), and action movies. In my free time
  I help run the <a href="https://oc.tc" target="_blank">Overcast Network</a>
  Minecraft servers as a developer and systems administrator.
</p>

<h3>Portfolio Statement</h3>

<p>
I could not have predicted how I spent my last 3 years at University of Washington. Well, I knew that I wanted to study computer science, and I did: so that's taken care of. But everything else was a new surprise and I'm happy with how it turned out.
</p>
<p>
I learned what it's like to do professional research in a lab. I joined the Programming Languages and Software Engineering lab freshman year and spent a year and a half working on the Verdi distributed systems project. I learned quickly how to think about problems using mathematics and what it really means to have confidence that something is correct. Along the way I learned how research is done at universities and realized that research was not something that I wanted to attend graduate school for. The experience was hugely beneficial as I saw what graduate school would have been like had I gone and answered the question of what I wanted to do earlier.
</p>
<p>
In sophomore year I joined the Formula SAE club here at University of Washington. The Formula club builds two small, formula-style race cars each year: one using an internal combustion engine and the other with an electric motor. I knew nothing about electronics before joining the team, so when I was told my project was to design a circuit board from scratch, I knew I had a lot of work ahead of myself. But I enjoyed being able to learn something totally new really fast. I had missed the physical aspect of robotics club in my freshman year, and with the Formula club I was able to do real engineering and develop a more diverse set of schools. Programming turned out to be incredibly useful for building race cars, so having that experience already was super helpful.
</p>
<p>
These were the two most transformative experiences I've had during my time here at UW. I learned a lot about what motivates me and gained some insight into where I want to go in the future.
</p>
