<h2>Research</h2>

<p>
  One of my goals for my time here is to engage in research. Since I am most
  interested in computer science and mathematics I imagine my research will be
  focused on those fields.
</p>

<h3>Formal Verification</h3>

<p>
  Currently I am working with the
  <a href="https://www.cs.washington.edu/research/plse" target="_blank">Programming Languages and Software Engineering (PLSE) Group</a>
  to learn the basics of formal verification. Formal verification is the
  practice of modeling computer programs using rigorous mathematics to prove
  properties about these programs. Because there is really no undergraduate
  classes that directly address this field I am currently independently
  studying <a href="http://www.cis.upenn.edu/~bcpierce/sf/current/index.html" target="_blank">Software Foundations</a>,
  a textbook that teaches the basics of formally verifying programs using the
  Coq proof assistant. While studying this book I am meeting with a graduate
  student who is helping me understand the field and answer questions I have
  about the book.
</p>
