<h2>Research</h2>

<p>
  One of my goals for my time here is to engage in research. Since I am most
  interested in computer science and mathematics I imagine my research will be
  focused on those fields.
</p>

<h3>Formal Verification</h3>

<p>
  Currently I am working with the
  <a href="https://www.cs.washington.edu/research/plse" target="_blank">Programming Languages and Software Engineering (PLSE) Group</a>
  to learn the basics of formal verification. Formal verification is the
  practice of modeling computer programs using rigorous mathematics to prove
  properties about these programs. Because there is really no undergraduate
  classes that directly address this field I am currently independently
  studying <a href="http://www.cis.upenn.edu/~bcpierce/sf/current/index.html" target="_blank">Software Foundations</a>,
  a textbook that teaches the basics of formally verifying programs using the
  Coq proof assistant. While studying this book I am meeting with a graduate
  student who is helping me understand the field and answer questions I have
  about the book.
</p>

<p>
  Here's an example of the kind of code that's required to prove a property.
</p>

<img src="img/coq-example.PNG" width="50%" height="50%">

<p>
  In this case I'm proving that reversing a list preserves its length. To
  complete the proof I needed to prove another theorem about the functions
  used to define reverse. Once that was done it was fairly straightforward to
  manipulate the original theorem into a form that could be proven using the
  lemma.
</p>

<h3>Publications</h3>

The research project I worked with has made several publications since I started.

<p>
  Doug Woos, James R. Wilcox, Steve Anton, Zachary Tatlock, Michael D. Ernst, and Thomas Anderson.   Planning for Change in a Formal Verification of the Raft Consensus Protocol. CPP 2016, St. Petersburg, FL, January 2016. <a href="https://homes.cs.washington.edu/~jrw12/raft-proof.pdf">Pdf Copy</a>.
</p>
<p>
  This paper covers the experience of proofing the Raft consensus protocol in
  Coq using the Verdi framework. This was what I spent most of my time during
  my research working on.
</p>

<p>
  James R. Wilcox, Doug Woos, Pavel Panchekha, Zachary Tatlock, Xi Wang, Michael D. Ernst, and Thomas Anderson.   Verdi: A Framework for Formally Verifying Distributed System Implementations. In PLDI 2015. <a href="https://homes.cs.washington.edu/~jrw12/verdi.pdf">Pdf Copy</a>
</p>
<p>
  This paper was the first paper for the Verdi project and outlines the
  theoretical framework in which distributed systems could be proven.
</p>

