<h2>Service</h2>

<p>
  In high school, I participated in the VEX Robotics Competition for 3 years.
  The competition is for high school and middle school students to develop
  their engineering ability by building small (18" cube) robots and competing
  them head-to-head.
</p>

<p>
  To give back, I have been volunteering in the local robotics competitions
  each year. Usually I help out with inspection in the morning and refereeing
  throughout the day.
</p>

<p>
  Here's a video from the finals match of the state championships last year
  where I volunteered as an assistant referee:
</p>

<iframe width="640" height="360" src="https://www.youtube.com/embed/-axwEx2N4Os" frameborder="0" allowfullscreen></iframe>
