<h2>UWashington Formula Motorsports</h2>

<img width="100%" src="//uwformula.com/files/2016-10/screen-shot-2016-10-12-at-3.38.35-pm.png" alt="race car" />

<p>
  During my internship of the summer of 2015, I was sitting in my apartment at
  the end of a long day at work and realized that maybe it would be good to
  have a hobby that did not involve staring at a screen. I remembered there
  was a club that builds race cars, and that seemed like a good way to get off
  the computer so I applied. After a brief interview, I was accepted onto the
  electronics technical team.
</p>

<p>
  Joining the electronics team, I had no knowledge of electronics or really
  any physics from the electricity and magnetism section of my AP Physics
  class. But it was fun to learn quickly an entire new subject from the ground
  up just by studying and learning as a went. During the 2015-2016 school year
  I also ended up taking the honors physics series, so that was benefitial in
  giving me a bit better foundational knowledge of the circuits I was
  designing.
</p>

<h3>T27 (2015-2016)</h3>

<img width="100%" src="img/BPC.jpg" />

<p>
  This year I was on the electronics technical team and worked on the Brake
  System Plausibility Device, a circuit board on the car part of the safety
  system that ensures that if the brake and throttle are both pressed
  simultaneously for too long the car will shut off.
</p>

<h3>T28 (2016-2017)</h3>

<img width="100%" src="img/ASB28A_12.jpg" />

<p>
  This year I am working on the accumulator management system which is a
  network of circuit boards that monitors the health and safety of the
  accumulator (the electric car's battery pack). The AMS is a cool project
  because it is critical to the car driving and incorporates a significant
  amount of programming, including some distributed programming. I am learning
  much about designing digital circuit boards and data acquisition.
</p>

